/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
} */

.main {
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  max-width: 1500px;
  margin: auto;
}

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 18rem;
  -ms-flex: 18rem 0 0px;
  flex: 18rem 0 0;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid #dcdbdb;
  padding: 4rem 0;
}

.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  color: #999;
  /* padding: 1.25rem 1.75rem; */
  padding: 10px;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #e44d3d;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__group:last-child {
  display: flex;
  justify-content: space-between;
}

.form__label {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: rgb(118, 116, 116);
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.1rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  overflow: hidden;
  border: 1px solid var(--brown);
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  /* outline: 3px solid var(--brown); */
  outline-offset: 3px;
  border-radius: 5px;
}

.form__upload + label {
  /* color: #55c57a; */
  display: inline-block;
  text-decoration: none;
  /* border-bottom: 1px solid #55c57a; */
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  background-color: var(--lightBrown);
  color: var(--brown);
  border-radius: 5px;
  padding: 5px 10px;
}
.form__upload + label:hover {
  /* background-color: var(--lightBrown);
  color: var(--brown); */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(125, 125, 125);
  border-bottom: 1px solid currentColor;
}

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 2.5rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #1d3557 !important;
}
.side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #999;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  word-spacing: 3px;
}
.side-nav a:hover,
.side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.3rem;
  width: 1.3rem;
  fill: #999;
  margin-right: 2rem;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

button:active {
  transform: scale(0.98);
}

button {
  padding: 15px;
  /* width: 80%; */
  margin-bottom: 30px;
  background-color: var(--brown);
  outline: none;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 30px;
}

.heading-secondary {
  color: var(--brown);
}
