extends baseEmail

block content
    p 哈囉 #{firstName},
    p 您的密碼已重新設定，請使用新密碼登入。
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') 瀏覽我們的網站
    p 如果您未重新設定密碼，請刪除此信件。